.audio-player {
    width: 1200px;
    margin: 200px auto;

    .audio-controls {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 8px;
    }

    .icon-switch-paly {
        position: relative;
        top: 2px;
        color: rgb(153 153 153 / 100%);
        font-size: 32px;
        cursor: pointer;
    }

    .audio-time {
        margin-left: 6px;
        color: rgb(102 102 102 / 100%);
        font-size: 14px;
    }

    .audio-rate {
        margin-left: 12px;
        padding: 2px 4px;
        color: rgb(102 102 102);
        background-color: transparent;
        border-color: rgb(153 153 153);
        border-radius: 4px;
        outline: none;
        cursor: pointer;
    }

    .icon-download {
        margin-left: 12px;
        color: rgb(153 153 153 / 100%);
        font-size: 24px;
        cursor: pointer;
    }

    .volume-slider {
        margin-left: 12px;
    }
}
